body {
    background-color: #a6d8ed;
.glossary{
    color: #1F51FF	;
    background-color: white;
    border: 50;
    border-color: black;
}
.navbar-container{
    display: flex;
    justify-content: center;
}
.clubs{
    color:#1F51FF;
    background-color: white;
}
.index{
    background-color: white;
}
.Fav-Meals{
    display: flex;
    justify-content: right;
}
.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.bio{
    background-color: white
}
.hobbies{
    background-color: white 
}
.portfolio{
    background-color: white
}